# npm
node_modules/
npm-debug.log

# WebStorm project files
.idea/

# Visual Studio project files
*.njsproj
*.sln
*.suo
WebEssentials-Settings.json
obj/

# Vim swap files
.*.sw?

# Mac OS X
.DS_Store
