[submodule "ige"]
	path = ige
	url = https://bitbucket.com/teamleonine/ige.git
	branch = master
[submodule "physics"]
	path = physics
	url = https://bitbucket.com/teamleonine/physics.git
	branch = master
