.progress-ring
  .progress-ring__wrap
    .progress-ring__circle
  .progress-ring__wrap
    .progress-ring__circle
  .progress-ring__wrap
    .progress-ring__circle
  .progress-ring__wrap
    .progress-ring__circle
  .progress-ring__wrap
    .progress-ring__circle