/* line 21, ../../sass/hud.scss */
#hud {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 1;
}
/* line 25, ../../sass/hud.scss */
#hud h2 {
  margin: 0;
  font-size: 100%;
  font-weight: bold;
}

/* line 32, ../../sass/hud.scss */
.tooltip {
  display: none;
  position: absolute;
  font-size: 75%;
  line-height: 18px;
  padding: 6px;
  background-color: rgba(34, 34, 34, 0.85);
  z-index: 100002;
}

/* line 15, ../../sass/_bottom-toolbar.scss */
#hud > .bottom-toolbar {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 23, ../../sass/_bottom-toolbar.scss */
.bottom-toolbar-float-left, #chat-button, #mine-cap, #construct-cap {
  float: left;
  margin-left: 1px;
}

/* line 28, ../../sass/_bottom-toolbar.scss */
.bottom-toolbar-float-right, #menu-button, #feedback-button, #relocate-button, #new-ship-button {
  float: right;
  margin-right: 1px;
}

/* line 3, ../../sass/_user-tile.scss */
#user-tile {
  float: left;
  height: 50px;
  background-color: #363636;
}
/* line 8, ../../sass/_user-tile.scss */
#user-tile:hover {
  background-color: #5c5c5c;
}
/* line 12, ../../sass/_user-tile.scss */
#user-tile .profile-pic {
  height: 50px;
  width: 50px;
  float: left;
}
/* line 18, ../../sass/_user-tile.scss */
#user-tile .user-info {
  float: left;
  padding: 8.33333px;
  height: 33.33333px;
  width: 200px;
  cursor: pointer;
}
/* line 28, ../../sass/_user-tile.scss */
#user-tile .user-info .username {
  font-size: 75%;
  font-weight: 600;
  line-height: 50%;
  position: relative;
  top: -8.33333px;
}
/* line 36, ../../sass/_user-tile.scss */
#user-tile .user-info .more-triangle {
  float: right;
  line-height: 33.33333px;
}

/* line 3, ../../sass/_chat.scss */
#chat-button {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #363636;
  background-image: url("../images/icons/icon_chat.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  text-align: right;
  background-position: 50% 65%;
}
/* line 40, ../../sass/_bottom-toolbar.scss */
#chat-button .tooltip {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 48, ../../sass/_bottom-toolbar.scss */
#chat-button:hover {
  background-color: #5c5c5c;
}
/* line 50, ../../sass/_bottom-toolbar.scss */
#chat-button:hover .tooltip {
  display: block;
}
/* line 9, ../../sass/_chat.scss */
#chat-button #chat-unread-label {
  display: none;
  font-size: 85%;
}
/* line 14, ../../sass/_chat.scss */
#chat-button.unopened, #chat-button.unread {
  color: #f57a03;
  background-image: url("../images/icons/icon_chat_unread.png");
}
/* line 19, ../../sass/_chat.scss */
#chat-button.unread {
  background-position: 0% 65%;
}
/* line 22, ../../sass/_chat.scss */
#chat-button.unread #chat-unread-label {
  padding-right: 8.33333px;
  display: inline;
  line-height: 50px;
}

/* line 9, ../../sass/_candy.scss */
#candy, #chat-toolbar, .message-form-wrapper, .message-form, .message-form input.submit {
  position: absolute;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
}

/* line 17, ../../sass/_candy.scss */
#candy {
  bottom: 50px;
  left: 0;
  height: 300px;
  width: 600px;
}

/* line 24, ../../sass/_candy.scss */
#chat-pane {
  height: 300px;
  width: 600px;
  position: relative;
}
/* line 29, ../../sass/_candy.scss */
#chat-pane #chat-tabs {
  width: 400px;
}
/* line 33, ../../sass/_candy.scss */
#chat-pane #chat-tabs li.roomtype-groupchat a.label {
  width: 100%;
}
/* line 36, ../../sass/_candy.scss */
#chat-pane #chat-tabs li.roomtype-groupchat a.close {
  display: none;
}
/* line 43, ../../sass/_candy.scss */
#chat-pane #chat-toolbar {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 49, ../../sass/_candy.scss */
#chat-pane .message-pane li, #chat-pane .roster-pane .user {
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
/* line 53, ../../sass/_candy.scss */
#chat-pane .message-pane .infomessage {
  display: none;
}
/* line 57, ../../sass/_candy.scss */
#chat-pane .message-form-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  margin-right: 200px;
}
/* line 64, ../../sass/_candy.scss */
#chat-pane .message-form-wrapper .message-form {
  position: relative;
  height: 100%;
  width: 400px;
  margin-right: 0;
}
/* line 70, ../../sass/_candy.scss */
#chat-pane .message-form-wrapper .message-form input {
  width: 330px;
  height: 21px;
}
/* line 75, ../../sass/_candy.scss */
#chat-pane .message-form-wrapper .message-form input.submit {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: auto;
  margin: 3px;
}
/* line 86, ../../sass/_candy.scss */
#chat-pane #context-menu, #chat-pane #tooltip {
  position: fixed;
}

/* line 91, ../../sass/_candy.scss */
#chat-modal {
  display: none !important;
}

/* line 95, ../../sass/_candy.scss */
.message-form-wrapper, .message-form {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 3, ../../sass/_cap-bar.scss */
#cap-bar {
  float: left;
  height: 50px;
  border-left: 1px solid #515151;
}

/* line 4, ../../sass/_mine-cap.scss */
#mine-cap {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #363636;
  background-image: url("../images/icons/icon_mine.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 40, ../../sass/_bottom-toolbar.scss */
#mine-cap .tooltip {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 48, ../../sass/_bottom-toolbar.scss */
#mine-cap:hover {
  background-color: #5c5c5c;
}
/* line 50, ../../sass/_bottom-toolbar.scss */
#mine-cap:hover .tooltip {
  display: block;
}
/* line 8, ../../sass/_mine-cap.scss */
#mine-cap.active {
  background-color: #c82020;
}
/* line 10, ../../sass/_mine-cap.scss */
#mine-cap.active:hover {
  background-color: #ff4040;
}

/* line 4, ../../sass/_construct-cap.scss */
#construct-cap {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #363636;
  background-image: url("../images/icons/icon_construct.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 40, ../../sass/_bottom-toolbar.scss */
#construct-cap .tooltip {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 48, ../../sass/_bottom-toolbar.scss */
#construct-cap:hover {
  background-color: #5c5c5c;
}
/* line 50, ../../sass/_bottom-toolbar.scss */
#construct-cap:hover .tooltip {
  display: block;
}
/* line 8, ../../sass/_construct-cap.scss */
#construct-cap.active {
  background-color: #026cd2;
}
/* line 10, ../../sass/_construct-cap.scss */
#construct-cap.active:hover {
  background-color: #0383ff;
}

/* line 1, ../../sass/_menu-button.scss */
#menu-button {
  margin-right: 0px;
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../images/icons/icon_menu.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 40, ../../sass/_bottom-toolbar.scss */
#menu-button .tooltip {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 48, ../../sass/_bottom-toolbar.scss */
#menu-button:hover {
  background-color: #5c5c5c;
}
/* line 50, ../../sass/_bottom-toolbar.scss */
#menu-button:hover .tooltip {
  display: block;
}

/* line 3, ../../sass/_feedback-button.scss */
#feedback-button {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #363636;
  background-image: url("../images/icons/icon_feedback.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 40, ../../sass/_bottom-toolbar.scss */
#feedback-button .tooltip {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 48, ../../sass/_bottom-toolbar.scss */
#feedback-button:hover {
  background-color: #5c5c5c;
}
/* line 50, ../../sass/_bottom-toolbar.scss */
#feedback-button:hover .tooltip {
  display: block;
}
/* line 6, ../../sass/_feedback-button.scss */
#feedback-button.unopened {
  background-image: url("../images/icons/icon_feedback_unopened.png");
}

/* line 1, ../../sass/_relocate-button.scss */
#relocate-button {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #363636;
  background-image: url("../images/icons/icon_relocate.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 40, ../../sass/_bottom-toolbar.scss */
#relocate-button .tooltip {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 48, ../../sass/_bottom-toolbar.scss */
#relocate-button:hover {
  background-color: #5c5c5c;
}
/* line 50, ../../sass/_bottom-toolbar.scss */
#relocate-button:hover .tooltip {
  display: block;
}

/* line 1, ../../sass/_new-ship-button.scss */
#new-ship-button {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #363636;
  background-image: url("../images/icons/icon_new_ship.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 40, ../../sass/_bottom-toolbar.scss */
#new-ship-button .tooltip {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 48, ../../sass/_bottom-toolbar.scss */
#new-ship-button:hover {
  background-color: #5c5c5c;
}
/* line 50, ../../sass/_bottom-toolbar.scss */
#new-ship-button:hover .tooltip {
  display: block;
}

/* line 14, ../../sass/_left-toolbar.scss */
#hud > .left-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 50px;
  width: 50px;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 5, ../../sass/_windows.scss */
#windows {
  position: absolute;
  left: 50px;
}

/* line 67, ../../sass/_window.scss */
.window {
  float: left;
  margin-left: 10px;
  display: none;
}
/* line 72, ../../sass/_window.scss */
.window .header {
  height: 37.5px;
  width: 100%;
  display: table;
}
/* line 77, ../../sass/_window.scss */
.window .header .icon, .window .header .title-container {
  display: table-cell;
}
/* line 81, ../../sass/_window.scss */
.window .header .icon {
  height: 37.5px;
  width: 37.5px;
  border: none;
}
/* line 87, ../../sass/_window.scss */
.window .header .title-container {
  padding: 12px;
  padding-left: 0;
}
/* line 90, ../../sass/_window.scss */
.window .header .title-container h2.title {
  line-height: 13.5px;
}
/* line 95, ../../sass/_window.scss */
.window .tabs {
  height: 25px;
  width: 100%;
}
/* line 99, ../../sass/_window.scss */
.window .body {
  width: 256px;
  padding: 12px;
}
/* line 102, ../../sass/_window.scss */
.window .body table {
  width: 100%;
  border-collapse: collapse;
}
/* line 107, ../../sass/_window.scss */
.window .body td {
  height: 37.5px;
  width: 37.5px;
  border-width: 1px;
  border-style: solid;
}

/* line 9, ../../sass/_cargo.scss */
#cargo-button {
  margin-top: 100px;
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #363636;
  margin-top: 1px;
  background-image: url("../images/icons/icon_cargo.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 32, ../../sass/_left-toolbar.scss */
#cargo-button .tooltip {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 40, ../../sass/_left-toolbar.scss */
#cargo-button:hover {
  background-color: #5c5c5c;
}
/* line 42, ../../sass/_left-toolbar.scss */
#cargo-button:hover .tooltip {
  display: block;
}

/* line 14, ../../sass/_cargo.scss */
#cargo-window {
  color: #383838;
}
/* line 42, ../../sass/_window.scss */
#cargo-window .header {
  background-color: #cdcdcd;
}
/* line 43, ../../sass/_window.scss */
#cargo-window .header .icon {
  background-image: url("/images/icons/icon_cargo_window.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 49, ../../sass/_window.scss */
#cargo-window .tabs {
  background-color: #bebebe;
}
/* line 53, ../../sass/_window.scss */
#cargo-window .body {
  background-color: #a5a5a5;
}
/* line 56, ../../sass/_window.scss */
#cargo-window .body table {
  border-color: dimgrey;
}
/* line 60, ../../sass/_window.scss */
#cargo-window .body td {
  background-color: #cdcdcd;
  border-color: #a5a5a5;
}

/* line 8, ../../sass/_crafting.scss */
#crafting-button {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #363636;
  margin-top: 1px;
  background-image: url("../images/icons/icon_crafting.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 32, ../../sass/_left-toolbar.scss */
#crafting-button .tooltip {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 40, ../../sass/_left-toolbar.scss */
#crafting-button:hover {
  background-color: #5c5c5c;
}
/* line 42, ../../sass/_left-toolbar.scss */
#crafting-button:hover .tooltip {
  display: block;
}

/* line 12, ../../sass/_crafting.scss */
#crafting-window {
  color: #134710;
}
/* line 42, ../../sass/_window.scss */
#crafting-window .header {
  background-color: #d5e9d3;
}
/* line 43, ../../sass/_window.scss */
#crafting-window .header .icon {
  background-image: url("/images/icons/icon_crafting_window.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 49, ../../sass/_window.scss */
#crafting-window .tabs {
  background-color: #b7d3b4;
}
/* line 53, ../../sass/_window.scss */
#crafting-window .body {
  background-color: #8ba988;
}
/* line 56, ../../sass/_window.scss */
#crafting-window .body table {
  border-color: #597e55;
}
/* line 60, ../../sass/_window.scss */
#crafting-window .body td {
  background-color: #d5e9d3;
  border-color: #8ba988;
}

/* line 25, ../../sass/_minimap.scss */
#minimap {
  position: absolute;
  right: 0;
  bottom: 50px;
  z-index: 2;
  height: 200px;
  width: 350px;
  color: #19ffb7;
}
/* line 34, ../../sass/_minimap.scss */
#minimap .toolbar {
  float: right;
  background-color: #131e1b;
  height: 200px;
  width: 50px;
  font-size: 37.5px;
  text-align: center;
}
/* line 42, ../../sass/_minimap.scss */
#minimap .toolbar #map-button {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #1d634d;
  background-image: url("../images/icons/icon_minimap.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 46, ../../sass/_minimap.scss */
#minimap .toolbar .zoom-in-button, #minimap .toolbar .zoom-out-button {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #131e1b;
  line-height: 50px;
  vertical-align: middle;
}
/* line 53, ../../sass/_minimap.scss */
#minimap .map {
  position: relative;
  float: right;
  background-color: rgba(23, 49, 41, 0.9);
  height: 100%;
}
/* line 59, ../../sass/_minimap.scss */
#minimap .map .coordinates {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 75%;
}
/* line 66, ../../sass/_minimap.scss */
#minimap .map canvas {
  height: 200px;
  width: 300px;
}

/* line 1, ../../sass/_alertify.scss */
#alertify-logs {
  position: absolute;
  bottom: 260px;
}
