/* line 21, ../../sass/hud.scss */
#hud {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 1;
}

/* line 26, ../../sass/hud.scss */
.tooltip, #cargo .pullout #cargo-containers .container .type-label, #crafting .pullout #crafting-containers .container .type-label {
  display: none;
  position: absolute;
  font-size: 75%;
  line-height: 18px;
  padding: 6px;
  background-color: rgba(34, 34, 34, 0.85);
  z-index: 100002;
}

/* line 15, ../../sass/_bottom-toolbar.scss */
#hud > .bottom-toolbar {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 23, ../../sass/_bottom-toolbar.scss */
.bottom-toolbar-float-left, #chat-button, #mine-cap, #construct-cap {
  float: left;
  margin-left: 1px;
}

/* line 28, ../../sass/_bottom-toolbar.scss */
.bottom-toolbar-float-right, #menu-button, #feedback-button, #relocate-button, #new-ship-button {
  float: right;
  margin-right: 1px;
}

/* line 3, ../../sass/_user-tile.scss */
#user-tile {
  float: left;
  height: 50px;
  background-color: #363636;
}
/* line 8, ../../sass/_user-tile.scss */
#user-tile:hover {
  background-color: #5c5c5c;
}
/* line 12, ../../sass/_user-tile.scss */
#user-tile .profile-pic {
  height: 50px;
  width: 50px;
  float: left;
}
/* line 18, ../../sass/_user-tile.scss */
#user-tile .user-info {
  float: left;
  padding: 8.33333px;
  height: 33.33333px;
  width: 200px;
  cursor: pointer;
}
/* line 28, ../../sass/_user-tile.scss */
#user-tile .user-info .username {
  font-size: 75%;
  font-weight: 600;
  line-height: 50%;
  position: relative;
  top: -8.33333px;
}
/* line 36, ../../sass/_user-tile.scss */
#user-tile .user-info .more-triangle {
  float: right;
  line-height: 33.33333px;
}

/* line 3, ../../sass/_chat.scss */
#chat-button {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #363636;
  background-image: url("../images/icons/icon_chat.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  text-align: right;
  background-position: 50% 65%;
}
/* line 40, ../../sass/_bottom-toolbar.scss */
#chat-button .tooltip, #chat-button #cargo .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container #chat-button .type-label, #chat-button #crafting .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container #chat-button .type-label {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 48, ../../sass/_bottom-toolbar.scss */
#chat-button:hover {
  background-color: #5c5c5c;
}
/* line 50, ../../sass/_bottom-toolbar.scss */
#chat-button:hover .tooltip, #chat-button:hover #cargo .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container #chat-button:hover .type-label, #chat-button:hover #crafting .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container #chat-button:hover .type-label {
  display: block;
}
/* line 9, ../../sass/_chat.scss */
#chat-button #chat-unread-label {
  display: none;
  font-size: 85%;
}
/* line 14, ../../sass/_chat.scss */
#chat-button.unopened, #chat-button.unread {
  color: #f57a03;
  background-image: url("../images/icons/icon_chat_unread.png");
}
/* line 19, ../../sass/_chat.scss */
#chat-button.unread {
  background-position: 0% 65%;
}
/* line 22, ../../sass/_chat.scss */
#chat-button.unread #chat-unread-label {
  padding-right: 8.33333px;
  display: inline;
  line-height: 50px;
}

/* line 9, ../../sass/_candy.scss */
#candy, #chat-toolbar, .message-form-wrapper, .message-form, .message-form input.submit {
  position: absolute;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
}

/* line 17, ../../sass/_candy.scss */
#candy {
  bottom: 50px;
  left: 0;
  height: 300px;
  width: 600px;
}

/* line 24, ../../sass/_candy.scss */
#chat-pane {
  height: 300px;
  width: 600px;
  position: relative;
}
/* line 29, ../../sass/_candy.scss */
#chat-pane #chat-tabs {
  width: 400px;
}
/* line 33, ../../sass/_candy.scss */
#chat-pane #chat-tabs li.roomtype-groupchat a.label {
  width: 100%;
}
/* line 36, ../../sass/_candy.scss */
#chat-pane #chat-tabs li.roomtype-groupchat a.close {
  display: none;
}
/* line 43, ../../sass/_candy.scss */
#chat-pane #chat-toolbar {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 49, ../../sass/_candy.scss */
#chat-pane .message-pane li, #chat-pane .roster-pane .user {
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
/* line 53, ../../sass/_candy.scss */
#chat-pane .message-pane .infomessage {
  display: none;
}
/* line 57, ../../sass/_candy.scss */
#chat-pane .message-form-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  margin-right: 200px;
}
/* line 64, ../../sass/_candy.scss */
#chat-pane .message-form-wrapper .message-form {
  position: relative;
  height: 100%;
  width: 400px;
  margin-right: 0;
}
/* line 70, ../../sass/_candy.scss */
#chat-pane .message-form-wrapper .message-form input {
  width: 330px;
  height: 21px;
}
/* line 75, ../../sass/_candy.scss */
#chat-pane .message-form-wrapper .message-form input.submit {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: auto;
  margin: 3px;
}
/* line 86, ../../sass/_candy.scss */
#chat-pane #context-menu, #chat-pane #tooltip {
  position: fixed;
}

/* line 91, ../../sass/_candy.scss */
#chat-modal {
  display: none !important;
}

/* line 95, ../../sass/_candy.scss */
.message-form-wrapper, .message-form {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 3, ../../sass/_cap-bar.scss */
#cap-bar {
  float: left;
  height: 50px;
  border-left: 1px solid #515151;
}

/* line 4, ../../sass/_mine-cap.scss */
#mine-cap {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #363636;
  background-image: url("../images/icons/icon_mine.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 40, ../../sass/_bottom-toolbar.scss */
#mine-cap .tooltip, #mine-cap #cargo .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container #mine-cap .type-label, #mine-cap #crafting .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container #mine-cap .type-label {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 48, ../../sass/_bottom-toolbar.scss */
#mine-cap:hover {
  background-color: #5c5c5c;
}
/* line 50, ../../sass/_bottom-toolbar.scss */
#mine-cap:hover .tooltip, #mine-cap:hover #cargo .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container #mine-cap:hover .type-label, #mine-cap:hover #crafting .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container #mine-cap:hover .type-label {
  display: block;
}
/* line 8, ../../sass/_mine-cap.scss */
#mine-cap.active {
  background-color: #c82020;
}
/* line 10, ../../sass/_mine-cap.scss */
#mine-cap.active:hover {
  background-color: #ff4040;
}

/* line 4, ../../sass/_construct-cap.scss */
#construct-cap {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #363636;
  background-image: url("../images/icons/icon_construct.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 40, ../../sass/_bottom-toolbar.scss */
#construct-cap .tooltip, #construct-cap #cargo .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container #construct-cap .type-label, #construct-cap #crafting .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container #construct-cap .type-label {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 48, ../../sass/_bottom-toolbar.scss */
#construct-cap:hover {
  background-color: #5c5c5c;
}
/* line 50, ../../sass/_bottom-toolbar.scss */
#construct-cap:hover .tooltip, #construct-cap:hover #cargo .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container #construct-cap:hover .type-label, #construct-cap:hover #crafting .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container #construct-cap:hover .type-label {
  display: block;
}
/* line 8, ../../sass/_construct-cap.scss */
#construct-cap.active {
  background-color: #026cd2;
}
/* line 10, ../../sass/_construct-cap.scss */
#construct-cap.active:hover {
  background-color: #0383ff;
}

/* line 1, ../../sass/_menu-button.scss */
#menu-button {
  margin-right: 0px;
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../images/icons/icon_menu.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 40, ../../sass/_bottom-toolbar.scss */
#menu-button .tooltip, #menu-button #cargo .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container #menu-button .type-label, #menu-button #crafting .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container #menu-button .type-label {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 48, ../../sass/_bottom-toolbar.scss */
#menu-button:hover {
  background-color: #5c5c5c;
}
/* line 50, ../../sass/_bottom-toolbar.scss */
#menu-button:hover .tooltip, #menu-button:hover #cargo .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container #menu-button:hover .type-label, #menu-button:hover #crafting .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container #menu-button:hover .type-label {
  display: block;
}

/* line 3, ../../sass/_feedback-button.scss */
#feedback-button {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #363636;
  background-image: url("../images/icons/icon_feedback.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 40, ../../sass/_bottom-toolbar.scss */
#feedback-button .tooltip, #feedback-button #cargo .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container #feedback-button .type-label, #feedback-button #crafting .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container #feedback-button .type-label {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 48, ../../sass/_bottom-toolbar.scss */
#feedback-button:hover {
  background-color: #5c5c5c;
}
/* line 50, ../../sass/_bottom-toolbar.scss */
#feedback-button:hover .tooltip, #feedback-button:hover #cargo .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container #feedback-button:hover .type-label, #feedback-button:hover #crafting .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container #feedback-button:hover .type-label {
  display: block;
}
/* line 6, ../../sass/_feedback-button.scss */
#feedback-button.unopened {
  background-image: url("../images/icons/icon_feedback_unopened.png");
}

/* line 1, ../../sass/_relocate-button.scss */
#relocate-button {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #363636;
  background-image: url("../images/icons/icon_relocate.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 40, ../../sass/_bottom-toolbar.scss */
#relocate-button .tooltip, #relocate-button #cargo .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container #relocate-button .type-label, #relocate-button #crafting .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container #relocate-button .type-label {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 48, ../../sass/_bottom-toolbar.scss */
#relocate-button:hover {
  background-color: #5c5c5c;
}
/* line 50, ../../sass/_bottom-toolbar.scss */
#relocate-button:hover .tooltip, #relocate-button:hover #cargo .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container #relocate-button:hover .type-label, #relocate-button:hover #crafting .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container #relocate-button:hover .type-label {
  display: block;
}

/* line 1, ../../sass/_new-ship-button.scss */
#new-ship-button {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #363636;
  background-image: url("../images/icons/icon_new_ship.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 40, ../../sass/_bottom-toolbar.scss */
#new-ship-button .tooltip, #new-ship-button #cargo .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container #new-ship-button .type-label, #new-ship-button #crafting .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container #new-ship-button .type-label {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 48, ../../sass/_bottom-toolbar.scss */
#new-ship-button:hover {
  background-color: #5c5c5c;
}
/* line 50, ../../sass/_bottom-toolbar.scss */
#new-ship-button:hover .tooltip, #new-ship-button:hover #cargo .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container #new-ship-button:hover .type-label, #new-ship-button:hover #crafting .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container #new-ship-button:hover .type-label {
  display: block;
}

/* line 15, ../../sass/_left-toolbar.scss */
#hud > .left-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 19, ../../sass/_cargo.scss */
#cargo {
  margin-top: 100px;
}
/* line 22, ../../sass/_cargo.scss */
#cargo .pullout, #cargo .button {
  float: left;
}
/* line 26, ../../sass/_cargo.scss */
#cargo .pullout {
  display: none;
}
/* line 29, ../../sass/_cargo.scss */
#cargo .pullout .title {
  background-color: #cdcdcd;
  color: #383838;
  height: 30px;
  line-height: 30px;
  font-size: 125%;
  font-weight: bold;
  border-right: 1px solid #bcbcbc;
  padding: 10px;
}
/* line 40, ../../sass/_cargo.scss */
#cargo .pullout #cargo-containers {
  background-color: #a5a5a5;
  padding: 10px;
  text-align: center;
}
/* line 45, ../../sass/_cargo.scss */
#cargo .pullout #cargo-containers .container {
  height: 41.6px;
  width: 41.6px;
  padding: 5.2px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #cdcdcd;
  border: 1px solid dimgrey;
}
/* line 55, ../../sass/_cargo.scss */
#cargo .pullout #cargo-containers .container.active {
  background-color: #e4e4e4;
  border: 2px solid #008aff;
}
/* line 60, ../../sass/_cargo.scss */
#cargo .pullout #cargo-containers .container canvas {
  height: 41.6px;
  width: 41.6px;
}
/* line 65, ../../sass/_cargo.scss */
#cargo .pullout #cargo-containers .container .quantity-label {
  position: absolute;
  right: 5.2px;
  bottom: 5.2px;
  text-shadow: -1px 0 #383838, 0 1px #383838, 1px 0 #383838, 0 -1px #383838;
}
/* line 72, ../../sass/_cargo.scss */
#cargo .pullout #cargo-containers .container .type-label {
  left: 72.8px;
  top: 11px;
}
/* line 78, ../../sass/_cargo.scss */
#cargo .pullout #cargo-containers .container:hover .type-label {
  display: block;
}
/* line 85, ../../sass/_cargo.scss */
#cargo .button {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #363636;
  margin-top: 1px;
  background-image: url("../images/icons/icon_cargo.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 32, ../../sass/_left-toolbar.scss */
#cargo .button .tooltip, #cargo .button .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container .button .type-label, #cargo .button #crafting .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container #cargo .button .type-label {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 40, ../../sass/_left-toolbar.scss */
#cargo .button:hover {
  background-color: #5c5c5c;
}
/* line 42, ../../sass/_left-toolbar.scss */
#cargo .button:hover .tooltip, #cargo .button:hover .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container .button:hover .type-label, #cargo .button:hover #crafting .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container #cargo .button:hover .type-label {
  display: block;
}

/* line 20, ../../sass/_crafting.scss */
#crafting .pullout, #crafting .button {
  float: left;
}
/* line 24, ../../sass/_crafting.scss */
#crafting .pullout {
  display: none;
}
/* line 27, ../../sass/_crafting.scss */
#crafting .pullout .title {
  background-color: #cdcdcd;
  color: #383838;
  height: 30px;
  line-height: 30px;
  font-size: 125%;
  font-weight: bold;
  border-right: 1px solid #bcbcbc;
  padding: 10px;
}
/* line 38, ../../sass/_crafting.scss */
#crafting .pullout #crafting-containers {
  background-color: #a5a5a5;
  padding: 10px;
  text-align: center;
}
/* line 43, ../../sass/_crafting.scss */
#crafting .pullout #crafting-containers .container {
  height: 41.6px;
  width: 41.6px;
  padding: 5.2px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #cdcdcd;
  border: 1px solid dimgrey;
}
/* line 53, ../../sass/_crafting.scss */
#crafting .pullout #crafting-containers .container.active {
  background-color: #e4e4e4;
  border: 2px solid #008aff;
}
/* line 58, ../../sass/_crafting.scss */
#crafting .pullout #crafting-containers .container canvas {
  height: 41.6px;
  width: 41.6px;
}
/* line 63, ../../sass/_crafting.scss */
#crafting .pullout #crafting-containers .container .quantity-label {
  position: absolute;
  right: 5.2px;
  bottom: 5.2px;
  text-shadow: -1px 0 #383838, 0 1px #383838, 1px 0 #383838, 0 -1px #383838;
}
/* line 70, ../../sass/_crafting.scss */
#crafting .pullout #crafting-containers .container .type-label {
  left: 72.8px;
  top: 11px;
}
/* line 76, ../../sass/_crafting.scss */
#crafting .pullout #crafting-containers .container:hover .type-label {
  display: block;
}
/* line 83, ../../sass/_crafting.scss */
#crafting .button {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #363636;
  margin-top: 1px;
  background-image: url("../images/icons/icon_crafting.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 32, ../../sass/_left-toolbar.scss */
#crafting .button .tooltip, #crafting .button #cargo .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container #crafting .button .type-label, #crafting .button .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container .button .type-label {
  bottom: 58.33333px;
  width: 75px;
  text-align: center;
  margin-left: -43.5px;
  left: 50%;
}
/* line 40, ../../sass/_left-toolbar.scss */
#crafting .button:hover {
  background-color: #5c5c5c;
}
/* line 42, ../../sass/_left-toolbar.scss */
#crafting .button:hover .tooltip, #crafting .button:hover #cargo .pullout #cargo-containers .container .type-label, #cargo .pullout #cargo-containers .container #crafting .button:hover .type-label, #crafting .button:hover .pullout #crafting-containers .container .type-label, #crafting .pullout #crafting-containers .container .button:hover .type-label {
  display: block;
}

/* line 25, ../../sass/_minimap.scss */
#minimap {
  position: absolute;
  right: 0;
  bottom: 50px;
  z-index: 2;
  height: 200px;
  width: 350px;
  color: #19ffb7;
}
/* line 34, ../../sass/_minimap.scss */
#minimap .toolbar {
  float: right;
  background-color: #131e1b;
  height: 200px;
  width: 50px;
  font-size: 37.5px;
  text-align: center;
}
/* line 42, ../../sass/_minimap.scss */
#minimap .toolbar #map-button {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #1d634d;
  background-image: url("../images/icons/icon_minimap.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
/* line 46, ../../sass/_minimap.scss */
#minimap .toolbar .zoom-in-button, #minimap .toolbar .zoom-out-button {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #131e1b;
  line-height: 50px;
  vertical-align: middle;
}
/* line 53, ../../sass/_minimap.scss */
#minimap .map {
  position: relative;
  float: right;
  background-color: rgba(23, 49, 41, 0.9);
  height: 100%;
}
/* line 59, ../../sass/_minimap.scss */
#minimap .map .coordinates {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 75%;
}
/* line 66, ../../sass/_minimap.scss */
#minimap .map canvas {
  height: 200px;
  width: 300px;
}

/* line 1, ../../sass/_alertify.scss */
#alertify-logs {
  position: absolute;
  bottom: 260px;
}
