$capbar-divider-color: #515151;

#capbar {
  //@extend .bottom-toolbar-float-left;
  float: left;
  height: $bottom-toolbar-height;
  border-left: 1px solid $capbar-divider-color;
}

@import 'mine-cap';
@import 'construct-cap';