$cargo-font-color: #383838;
$cargo-header-background-color: #cdcdcd;
$cargo-tabs-background-color: #bebebe;
$cargo-body-background-color: #a5a5a5;
$cargo-container-border-color: #696969;
$cargo-block-hover-border-color: #008aff;


#cargo-button {
	margin-top: $hud-margin-top;
	@include left-toolbar-item-with-icon('../images/icons/icon_cargo.png');
}

#cargo-window {
	@include window(
		$cargo-font-color,
		$cargo-header-background-color,
		'/images/icons/icon_cargo_window.png',
		$cargo-tabs-background-color,
		$cargo-body-background-color,
		$cargo-container-border-color
	);
}