#chat {
  float: left;
  #cboxbutton {
    //position: fixed;
    //bottom: 0px;
    //right: 10px;
    //width: 40px;
    height: $toolbar-height;
    width: $toolbar-height;
    cursor: pointer;
    background-image: url('../images/icons/icon_chat_norm.png');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    background-color: $toolbar-item-background-color;
    font-size: 14px;
    z-index: 50;
  }
}