$crafting-button-background-color: #d5e9d3;
$crafting-button-hover-background-color: #e4e4e4;
$crafting-button-border-color: #134710;
$crafting-container-border-color: #597e55;

$crafting-tabs-background-color: #b7d3b4;
$crafting-body-background-color: #8ba988;

$crafting-block-hover-border-color: #008aff;



#crafting-button {
	@include left-toolbar-item-with-icon('../images/icons/icon_crafting.png');
}

#crafting-window {
	@include window(
		$crafting-button-border-color,
		$crafting-button-background-color,
		'/images/icons/icon_crafting_window.png',
		$crafting-tabs-background-color,
		$crafting-body-background-color,
		$crafting-container-border-color
	);
}
