$crafting-font-color: #134710;
$crafting-header-background-color: #d5e9d3;
$crafting-tabs-background-color: #b7d3b4;
$crafting-body-background-color: #8ba988;
$crafting-container-border-color: #597e55;
$crafting-container-active-background-color: #e9fde7;

#crafting-button {
	@include left-toolbar-item-with-icon('../images/icons/icon_crafting.png');
}

#crafting-window {
	@include window(
		$crafting-font-color,
		$crafting-header-background-color,
		'/images/icons/icon_crafting_window.png',
		$crafting-tabs-background-color,
		$crafting-body-background-color,
		$crafting-container-border-color
	);

	.body {
		td:hover {
			background-color: $crafting-container-active-background-color;
		}
	}
}

$crafting-tooltip-recipe-name-color: #53ff5f;
$crafting-tooltip-description-color: #aaffb0;
$crafting-tooltip-reactants-heading-color: #24c9dd;
$crafting-tooltip-reactant-name-color: #b7f3fa;

.tooltip.crafting {
	display: block;
	border-radius: 0px;
	border: 2px solid $crafting-tooltip-recipe-name-color;
	background: #363636;
	color: $crafting-tooltip-description-color;
	padding: 8px;

	h3 {
		font-size: 150%;
		color: $crafting-tooltip-recipe-name-color;
		margin-bottom: 10px;
	}

	h4.reactants {
		color: $crafting-tooltip-reactants-heading-color;
		text-transform: uppercase;
	}

	ul.reactants {
		color: $crafting-tooltip-reactant-name-color;
		font-size: 105%;

		div.block-canvas-container {
			display: inline-block;
		}
	}
}

.tooltipster-cosmos .tooltipster-content {
	font-size: 100%;
	line-height: 110%;
	padding: 8px 10px;
}