@import "compass/css3/user-interface";

$hud-button-height: 50px;
$hud-button-width: $hud-button-height;
$hud-margin-top: $hud-button-height * 2;

$tooltip-line-height: 18px;
$tooltip-padding: 6px;

$block-height: 26px;
$block-width: $block-height;

@mixin hud-icon-button($icon) {
  background-image: url($icon);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

#hud {
  @include user-select(none);
  z-index: $hud-layer-z-index;
}

.tooltip {
  display: none;
  position: absolute;
  font-size: 75%;
  line-height: $tooltip-line-height;
  padding: $tooltip-padding;
  background-color: rgba(34, 34, 34, 0.85);
  z-index: 100002;
}

@import 'bottom-toolbar';
@import 'minimap';
@import 'side-buttons';
@import 'notifications';