$inspector-button-background-color: #0c3e00;
$inspector-button-icon-color: #51e534;
$inspector-button-hover-background-color: #125c00;
$inspector-button-border-color: $inspector-button-icon-color;
$inspector-font-color: $inspector-button-border-color;
$inspector-position-top: $hud-margin-top;
$inspector-padding: 10px;

$block-inspector-width: $hud-button-width * 5;
$block-inspector-texture-height: $hud-button-height * 1.5 - 2 * $inspector-padding;
$block-inspector-texture-width: $block-inspector-texture-height;

#inspector {
  position: absolute;
  top: $inspector-position-top;
  right: 0;
  color: $inspector-font-color;

  .pullout, .button {
    float: right;
  }

  .pullout {
    width: $block-inspector-width;
  }

  #block-inspector.pullout {
    background-color: $inspector-button-background-color;
    font-size: 75%;

    p {
      margin: 0;
    }

    .top, .middle, .bottom {
      padding: $inspector-padding;
    }

    .top {
      height: $hud-button-height - 2 * $inspector-padding;

      #block-name {
        line-height: $hud-button-height - 2 * $inspector-padding;
        font-weight: bold;
        margin: 0;
        font-size: 125%;
      }
    }

    .middle {
      overflow: auto;
      background-color: $inspector-button-hover-background-color;

      #block-texture {
        height: $block-inspector-texture-height;
        width: $block-inspector-texture-width;
        margin-right: $inspector-padding;
        float: left;
      }

      #block-stats {
        width: $block-inspector-width - $block-inspector-texture-width - 3 * $inspector-padding;
        float: left;
      }
    }

    .bottom {
      max-height: $hud-button-height * 4;
      overflow-y: auto;
    }
  }

  .button {
    @include side-button-with-icon('../images/icons/icon_inspector.png', $inspector-button-background-color, $inspector-button-hover-background-color, $inspector-button-border-color, true);
  }
}