$minimap-map-height: $toolbar-height * 5;
$minimap-map-width: $toolbar-height * 6;
$minimap-toolbar-height: $minimap-map-height;
$minimap-toolbar-width: $toolbar-height;
$minimap-background-color: #173129;
$minimap-toolbar-background-color: #131e1b;
$minimap-toolbar-item-icon-color: #19ffb7;
$minimap-font-color: $minimap-toolbar-item-icon-color;
$minimap-toolbar-item-selected-background-color: #1d634d;

#minimap {
  position: absolute;
  right: 0;
  bottom: $toolbar-height;
  z-index: $hud-layer-z-index + 1;
  height: $minimap-map-height;
  width: $minimap-map-width + $minimap-toolbar-width;
  color: $minimap-font-color;

  .toolbar {
    float: right;
    background-color: $minimap-toolbar-background-color;
    height: $minimap-toolbar-height;
    width: $minimap-toolbar-width;
    font-size: $toolbar-height * .75;
    text-align: center;

    #map-button {
      @include toolbar-item-with-icon('../images/icons/icon_minimap.png', $minimap-toolbar-item-selected-background-color);
    }

    .zoom-in-button, .zoom-out-button {
      @include toolbar-item($minimap-toolbar-background-color);
      line-height: $toolbar-height;
      vertical-align: middle;
    }
  }

  #map {
    float: right;
    background-color: $minimap-background-color;
    height: $minimap-map-height;
    width: $minimap-map-width;

    canvas {
      height: $minimap-map-height;
      width: $minimap-map-width;
    }
  }
}