$user-info-padding: $toolbar-height / 6;


#user-tile {
  float: left;
  background-color: $toolbar-item-background-color;
  margin-right: 1px;

  .profile-pic {
    height: $toolbar-height;
    width: $toolbar-height;
    float: left;
  }

  .user-info {
    float: left;
    padding: $user-info-padding;
    width: $toolbar-height * 4;
    cursor: pointer;

    .ship-name {
    }

    .username {
      font-size: 75%;
      font-weight: 600;
      line-height: 50%;
      position: relative;
      top: -$user-info-padding;
    }

    .more-triangle {
      float: right;
      line-height: $toolbar-height - 2 * $user-info-padding;
    }
  }
}