$windows-container-margin-top: $hud-button-height * 2;
$windows-container-margin-left: $hud-button-width + 10px;

#windows {
	position: relative;
	top: $windows-container-margin-top;
	left: $windows-container-margin-left;
	@import 'window';
}
