@import 'compass/css3/user-interface';
@import 'compass/css3';
@import 'fonts';

$hud-layer-z-index: 100;
$cosmos-blue: #0090ff;
$cosmos-blue-lighter: #00aeff;
$cosmos-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
$cosmos-font-color: #e8e8e8;
$prompt-veil-z-index: $hud-layer-z-index + 1;

$tooltip-line-height: 18px;
$tooltip-padding: 6px;

html, body {
  font-family: $cosmos-font-family;
  font-size: 100%;
  color: $cosmos-font-color;
  height: 100%;
  overflow: hidden;
}

.more-triangle {
  cursor: pointer;
  display: inline-block;
  @include rotate(180deg);
}

.prompt-veil {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000000;
  opacity: 0.5;
  z-index: $prompt-veil-z-index;
}

@mixin placeholder-state {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@include placeholder {
  color: #5a5a5a;
}

#igeFrontBuffer {
  @include user-select(none);
}

.tooltip {
  display: none;
  position: absolute;
  font-size: 75%;
  line-height: $tooltip-line-height;
  padding: $tooltip-padding;
  background-color: rgba(34, 34, 34, 0.85);
  z-index: 100002;
}

.username-label.tooltip {
  display: block;
  z-index: 1;
}

@import 'hud';
@import 'name-prompt';