@import "compass/css3/user-interface";

$hud-layer-z-index: 1;
$hud-button-height: 50px;
$hud-button-width: $hud-button-height;
$hud-margin-top: $hud-button-height * 2;

$block-height: 26px;
$block-width: $block-height;

@mixin hud-icon-button($icon) {
  background-image: url($icon);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

#hud {
  @include user-select(none);
  z-index: $hud-layer-z-index;
}

@import 'bottom-toolbar';
@import 'minimap';
@import 'side-buttons';