$toolbar-color: #222222;
$toolbar-height: 5%;

#toolbar {
  position: absolute;
  bottom: 0;
  z-index: $hud-layer-z-index;
  height: $toolbar-height;
  width: 100%;
  background-color: $toolbar-color;
}