<div id="inspector">
	<div id="block-inspector" class="pullout">
		<div class="top">
			<h2 id="block-name">Mining Laser</h2>
		</div>
		<div class="middle">
			<canvas id="block-texture"></canvas>
			<div id="block-stats">
				<p class="align-left">Health:</p><p class="align-right"><span id="block-current-health">50</span>/<span id="block-max-health">50</span></p>
				<div style="clear: both;"></div>
				<p class="align-left">Energy:</p><p class="align-right"><span id="block-energy-usage">1</span></p>
				<div style="clear: both;"></div>
				<p class="align-left">Damage:</p><p class="align-right"><span id="block-damage">10</span></p>
			</div>
		</div>
		<div class="bottom">
			<p class="description">
				The mining laser is the most basic weapon in the game. Use it to break blocks off of other structures
				and ships. If you lose your mining laser, you will not be able to shoot. Having more mining lasers will
				increase your mining speed.
			</p>
		</div>
	</div>
	<div class="button">
		<div class="arrow"></div>
	</div>
</div>