<div id="inspector">
	<div id="block-inspector" class="pullout">

		<div class="top">
			<h2 id="block-name" class="align-left"></h2>
			<p id="block-type" class="align-right"></p>
		</div>

		<div class="middle">
			<canvas id="block-texture"></canvas>
			<div id="block-stats">

				<div id="block-stat-health" class="block-stat">
					<p class="align-left">Health:</p><p class="align-right"><span id="block-current-health"></span>/<span id="block-max-health"></span></p>
					<div style="clear: both;"></div>
				</div>

				<div id="block-stat-energy" class="block-stat">
					<p class="align-left">Energy:</p><p class="align-right"><span id="block-energy-usage"></span></p>
					<div style="clear: both;"></div>
				</div>

				<div id="block-stat-damage" class="block-stat">
					<p class="align-left">Damage:</p><p class="align-right"><span id="block-damage"></span></p>
					<div style="clear: both;"></div>
				</div>

				<div id="block-stat-thrust" class="block-stat">
					<p class="align-left">Thrust:</p><p class="align-right"><span id="block-thrust"></span></p>
					<div style="clear: both;"></div>
				</div>

			</div>
		</div>

		<div class="bottom">
			<p class="description">
			</p>
		</div>

	</div>
	<div class="button">
		<div class="arrow"></div>
	</div>
</div>
