.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
}

body {
    background: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#cboxbutton {
    position: fixed;
    bottom: 0px;
    right: 10px;
    width: 40px;
    height: 38px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-image: url('../images/icons/icon_chat.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 14px;
    z-index: 50;
}

#cboxbutton.chat-closed {
    background-color: #007536;
    border-bottom: 6px #00b454 solid;
}

#cboxbutton.chat-closed:hover {
    background-color: #00b454;
    border-bottom: 6px #00b454 solid;
}

#cboxbutton.chat-open {
    background-color: #00b454;
    border-bottom: 6px #fff solid;
}

#cboxdiv {
    display: none;
    position: fixed;
    bottom: 64px;
    right: 10px;
    width: 200px;
    background: #00b454;
    padding: 5px;
    line-height: 0;
    border: none;
    z-index: 10000000;
    box-shadow: #004c23 0px 0px 5px;
}

.loadingFloat.preview {
  position: fixed;
  left: 50%;
  margin-left: -50%;
  width: 100%;
  height: 30px;
  bottom: 0;
  top: 0;
  margin-top: 0;
  z-index: 100;
}

.veil {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.8;
    z-index: 999998;
}

.igeLoading.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 0;
}

.igeLoading.background .cosmos-logo, .background .cosmos-logo img {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.igeLoading.content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000000;
}

.igeLoading.content .row {
    width: 75%;
    margin: 2.5% auto 0;
}

.igeLoading.content a {
    color: #428bca;
}

.igeLoading.content a:hover {
    text-decoration: underline;
}

.igeLoading.loadingFloat.preview {
    z-index: 999999
}

#headline {
    text-align: center;
}

#mail-list {
    text-align: center;
    font-size: 80%;
}

#news {
    width: 90%;
}

#news h2 {
    font-size: 125%;
    font-weight: bold;
}

#news ul {
    list-style: disc outside;
    margin-left: 20px;
}

#loading-error, #ready {
    display: none;
    position: absolute;
    bottom: 12.5%;
    width: 100%;
}

#loading-error {
    color: red;
    text-align: center;
}

#ready {
    display: none;
    position: absolute;
    bottom: 12.5%;
    width: 100%;
}

#ready button {
    position: relative;
    display: block;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    border: none;
    background-color: #08ad00;
    font: inherit;
    font-size: 125%;
    color: inherit;
    cursor: pointer;
}

#fullscreen-container {
    margin: 0 auto;
    width: 150px;
}
#fullscreen {
    margin-left: 25px;
    margin-right: 10px;
}

#last-updated {
    position: absolute;
    font-size: 75%;
    left: 2.5%;
    bottom: 2.5%;
}

.news {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.news:before, .news:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tutorial {
  position: relative;
  top: -50px;
}

@-moz-keyframes fadePulse {
    0% { opacity:0.5; }
    50% { opacity:1; }
    100% { opacity:0.5; }
}
@keyframes fadePulse {
    0% { opacity:0.5; }
    50% { opacity:1; }
    100% { opacity:0.5; }
}
@-moz-keyframes spinPulse {
    0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
    50% { -moz-transform:rotate(135deg); opacity:1; }
    100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg);  }
}
@keyframes fadePulse {
    0% { opacity:0.5; }
    50% { opacity:1; }
    100% { opacity:0.5; }
}
@-webkit-keyframes fadePulse {
    0% { opacity:0.5; }
    50% { opacity:1; }
    100% { opacity:0.5; }
}
@-webkit-keyframes spinPulse {
    0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
    50% { -webkit-transform:rotate(135deg); opacity:1;}
    100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}

.preview .loadingText {
    z-index: 100;
    position: absolute;
    top: 15px;
    left: 60px;
    color: white;
    font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    width: 100%;
    text-transform: uppercase;
    -moz-animation: fadePulse 2s infinite linear;
    -webkit-animation: fadePulse 2s infinite linear;
    animation: fadePulse 2s infinite linear;
    float: left;
}

.preview .loadingText.error {
    color: red;
}

.preview #loadingProgress {
  z-index: 100;
    width: 100%;
    height: 7px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    margin-left: -50%;
}

.loadingFloat .progress-ring
{
    z-index: 100;
    position: absolute;
    left: 20px;
    top: 10px;
}

.progress-ring {
  position: relative;
  padding-top: 8px;
  width: 20px;
  height: 20px;
  margin: auto;
}
.progress-ring .progress-ring__wrap {
  position: absolute;
  width: 18px;
  height: 18px;
}
.progress-ring .progress-ring__wrap .progress-ring__circle {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: orbit;
  animation-name: orbit;
  -webkit-animation-duration: 4000ms;
  animation-duration: 4000ms;
  width: 18px;
  height: 18px;
  opacity: 0;
}
.progress-ring .progress-ring__wrap .progress-ring__circle:after {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5% #ffffff;
  box-shadow: 0px 0px 5% #ffffff;
  background: #ffffff;
  /* Pick a color */
}
.progress-ring .progress-ring__wrap:nth-child(2) {
  -webkit-transform: rotate(-14deg);
  -ms-transform: rotate(-14deg);
  transform: rotate(-14deg);
}
.progress-ring .progress-ring__wrap:nth-child(2) .progress-ring__circle {
  -webkit-animation-delay: 133.33333333ms;
  animation-delay: 133.33333333ms;
}
.progress-ring .progress-ring__wrap:nth-child(3) {
  -webkit-transform: rotate(-28deg);
  -ms-transform: rotate(-28deg);
  transform: rotate(-28deg);
}
.progress-ring .progress-ring__wrap:nth-child(3) .progress-ring__circle {
  -webkit-animation-delay: 266.66666667ms;
  animation-delay: 266.66666667ms;
}
.progress-ring .progress-ring__wrap:nth-child(4) {
  -webkit-transform: rotate(-42deg);
  -ms-transform: rotate(-42deg);
  transform: rotate(-42deg);
}
.progress-ring .progress-ring__wrap:nth-child(4) .progress-ring__circle {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.progress-ring .progress-ring__wrap:nth-child(5) {
  -webkit-transform: rotate(-56deg);
  -ms-transform: rotate(-56deg);
  transform: rotate(-56deg);
}
.progress-ring .progress-ring__wrap:nth-child(5) .progress-ring__circle {
  -webkit-animation-delay: 533.33333333ms;
  animation-delay: 533.33333333ms;
}
@-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  7% {
    -webkit-transform: rotate(345deg);
    transform: rotate(345deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  35% {
    -webkit-transform: rotate(495deg);
    transform: rotate(495deg);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  42% {
    -webkit-transform: rotate(690deg);
    transform: rotate(690deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  70% {
    -webkit-transform: rotate(835deg);
    transform: rotate(835deg);
    opacity: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  76% {
    opacity: 1;
  }
  77% {
    -webkit-transform: rotate(955deg);
    transform: rotate(955deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  78% {
    -webkit-transform: rotate(955deg);
    transform: rotate(955deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(955deg);
    transform: rotate(955deg);
    opacity: 0;
  }
}
@keyframes orbit {
  0% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  7% {
    -webkit-transform: rotate(345deg);
    transform: rotate(345deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  35% {
    -webkit-transform: rotate(495deg);
    transform: rotate(495deg);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  42% {
    -webkit-transform: rotate(690deg);
    transform: rotate(690deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  70% {
    -webkit-transform: rotate(835deg);
    transform: rotate(835deg);
    opacity: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  76% {
    opacity: 1;
  }
  77% {
    -webkit-transform: rotate(955deg);
    transform: rotate(955deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  78% {
    -webkit-transform: rotate(955deg);
    transform: rotate(955deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(955deg);
    transform: rotate(955deg);
    opacity: 0;
  }
}

.preview #loadingProgressBar {
    z-index: 100;
    bottom: 0px;
    width: 0px;
    height: 7px;
    background: #08f;
}

.sgButton {
    display: block;
    float: left;
    font-variant: small-caps;
    background-color: #084861;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 1px;
    width: 60px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}

.met {
    display: block;
    float: left;
    text-align: right;
    font-variant: small-caps;
    font-size: 13px;
    background-color: rgba(7, 20, 25, 0.9);
    padding: 1px;
    padding-left: 2px;
    padding-right: 6px;
    margin-right: 1px;
    min-width: 75px;
    white-space: nowrap;
}

#igeSgTree {
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 300px;
    height: 200px;
    background-color: rgba(7, 20, 25, 0.9);
    font-family: Verdana, Tahoma;
    font-size: 11px;
    color: #ffffff;
    text-shadow: 1px 1px 3px #000000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
    z-index: 200000;
  overflow: auto;
}

#igeSgTree ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 14px;
  white-space: nowrap;
}

#igeSgTree li {
    cursor: pointer;
    margin: 3px;
  white-space: nowrap;
  padding-right: 10px;
}

#igeSgTree li.selected {
    font-weight: bold;
}

#igeSgTree li.selected ul {
    font-weight: normal;
}

#igeSgConsoleHolder {
  display: none;
    position: absolute;
    left: 410px;
    top: 4px;
    padding: 5px;
    background-color: rgba(66, 66, 66, 0.9);
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: #ffffff;
}

#igeSgConsoleHolder a {
    color: #ffffff;
}

#igeSgConsole {
    width: 800px;
}

#igeSgDocPage {
    width: 800px;
    height: 400px;
    display: none;
    background-color: #ffffff;
}

#igeSgItemClassChain {
    display: none;
    margin-top: 4px;
    margin-bottom: 4px;
}

#igeSgEditorRoot {
  display: block;
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 400px;
    height: 24px;
    background-color: rgba(7, 20, 25, 0.9);
    font-family: Verdana, Tahoma;
    font-size: 11px;
    color: #ffffff;
    text-shadow: 1px 1px 3px #000000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
    z-index: 200000;
}

.cosmos-tutorial {
  z-index: 100;
  position: absolute;
  width: 1000px;
  height: 100%;
  left: 50%;
  margin-left: -500px;
  background: #000;
}

.cosmos-tutorial, .cosmos-tutorial p, .cosmos-tutorial ul {
    font-size: 14pt;
}

.cosmos-tutorial-veil {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  display: none;
}

.cosmos-tutorial #tutorial-welcome {
  text-align: center;
}

#tutorial-welcome .tutorial-prompt {
  color: #ccc;
  margin-top: 50px;
}

#welcome-choices {
  margin-top: 30px;
  list-style: none;
}

#welcome-choices li {
  display: inline-block;

  padding-right: 10px;
}

#welcome-choices li:last-child {
  padding-right: 0px;
}

#welcome-choices li a {
  padding: 8px 15px;
}

#choice-continue a {
  color: #fff;
  background: #08f;
}

#choice-continue a:hover {
  background: #40a5ff;
}

#choice-continue a:active,
#choice-continue a:hover:active {
  background: #73BDFF;
}

#choice-skip a {
  color: #fff;
  background: #333;
}

#choice-skip a:hover {
  background: #555;
}

#choice-skip a:active,
#choice-skip a:hover:active {
  background: #777;
}

.feedback-notice {
  width: 700px;
  margin-top: 50px;
  margin-left: 150px;
  text-align: left;

  border: 1px solid rgb(2,108,210);
}

.feedback-notice .left {
  float: left;
}

.feedback-notice .feedback-icon {
  background-color: rgb(2,108,210);
  width: 60px;
  height: 60px;
  padding: 10px;
}

.feedback-notice .right {
  float: left;
  padding: 20px;
  padding-bottom: 0px;
  margin: 0px;
  width: 580px;
}

.feedback-notice .right h4 {
  font-weight: normal;
  color: rgb(2,108,210);
  font-size: 18pt;
  margin-top: -5px;
  padding: 0px;
}

.feedback-notice .right p {
  margin-top: 8px;
}

#button-uservoice {
    position: fixed;
    bottom: 0px;
    left: 10px;
    width: 40px;
    height: 38px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-image: url('../images/icons/icon_feedback.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 14px;
    z-index: 100;
}

#button-uservoice {
    background-color: #014689;
    border-bottom: 6px #026cd2 solid;
}

#button-uservoice:hover {
    background-color: #026cd2;
    border-bottom: 6px #026cd2 solid;
}

#tutorial-host {
  display: none;
  position: absolute;
  top: 0px;
  left: 50%;
  width: 1000px;
  margin-left: -500px;
}

#tutorial-host > .content {
  border-radius: none;
  background: rgba(0, 0, 0, 0.9);
  margin: 0px 20px;
}

#tutorial-host .tutorial-contents em.orange {
  color: #d26c02;
}

#tutorial-host .tutorial-contents em.blue {
  color: #026cd2;
}

#tutorial-host h2 {
  margin-bottom: 20px;
}

#tutorial-host section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #777;
}

#tutorial-host section .left-image {
  float: left;
  width: 125px;
  margin-right: 25px;
}

#tutorial-host .left-image img {
  width: 125px;
}

#tutorial-host section .right-caption {
  width: 800px;
  float: left;
}

#tutorial-host section .right-caption p {
  margin-top: 0px;
}

#tutorial-host .movement-basics .left-image {
  float: left;
  width: 225px;
  margin-right: 25px;
}

#tutorial-host .movement-basics .left-image img {
  width: 225px;
}

#tutorial-host .movement-basics .right-caption {
  width: 700px;
  float: left;
}


#tutorial-host .movement-basics .fullsize {
  float: left;
  width: 950px;
}