body {
    background-color: #000;
	color: #fff;
}

body, body div, span, div, p {
    font-size: 11pt;
}

a {
    color: #00B7FF;
}

div#container {
	width: 600px;
	margin: 0 auto;
}

header#cosmos-header {
	background: url('/images/cosmos-logo.png') no-repeat;
height: 120px;
    width: 300px;
    text-indent: -9000px;
    overflow: hidden;
    margin-top: 100px;

    margin-left: 150px;
}

#cosmos-greeting {
    display: none;
    position: absolute;
    top: 0;
    z-index: 50000;
}

#cosmos-greeting, #cosmos-greeting .cosmos-logo, #cosmos-greeting .cosmos-logo img {
    width: 100%;
    height: 100%
}

#cosmos-login {
	margin-top: 50px;
}

.tutorial {
    position: relative;
    top: -50px;
}

.login-screen {
	position: absolute;
	margin-top: 20px;
}

.login-screen#login-intro {
	margin-left: 200px;
}

.login-screen#login-providers {
	margin-left: 150px;
	display: none;
}

.login-screen#login-authenticated {
	margin-left: 150px;
}

ul.login-options {
	list-style: none;
	margin: 0px auto;
	display: block;
	position: relative;
}

.login-option {
	z-index: 0;
	display: inline-block;
	height: 100px;
	width: 100px;
	background: #222;
	border: 1px solid #333;

	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
}

.login-banner {
	display: block;
	font-size: 20pt;
	text-align: center;
	padding-bottom: 40px;

	font-family: "Segoe UI Light", "Helvetica Light", Arial, sans-serif;
}

.login-option a {
	background: url('transparent.png');
	width: 100px;
	height: 100px;
	position: absolute;
	display: block;
	cursor: pointer;
}

.login-option:hover {
	z-index: 100;
	box-shadow: rgba(50,50,50,0.2) 0px 0px 20px;
	background: #777;
}

.login-option#option-play:hover {
	z-index: 100;
	box-shadow: rgba(0,187,63,0.4) 0px 0px 20px;
	background: rgb(0,121,41);
	border: 1px solid rgb(55,221,111);
}

.login-option#option-signin:hover {
	z-index: 100;
	box-shadow: rgba(3,62,107,0.4) 0px 0px 20px;
	background: rgb(11,97,164);
	border: 1px solid rgb(63,146,210);
}

.login-option#option-signout:hover {
	z-index: 100;
	box-shadow: rgba(160,16,16,0.4) 0px 0px 20px;
	background: rgb(160,16,16);
	border: 1px solid rgb(207,68,68);
}

.login-option#option-provider-msft:hover {
	z-index: 100;
	box-shadow: rgba(255, 255, 255, 0.7) 0px 0px 20px;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(0, 128, 255);
}

.login-option#option-provider-fb:hover {
	z-index: 100;
	box-shadow: rgba(59, 89, 152, 0.7) 0px 0px 20px;
	background: rgb(59, 89, 152);
	border: 1px solid rgb(110, 140, 204);
}

.login-option#option-provider-google:hover {
	z-index: 100;
	box-shadow: rgba(208, 63, 44, 0.7) 0px 0px 20px;
	background: rgb(208, 63, 44);
	border: 1px solid rgb(232, 110, 95);
}

.login-option:first-child {
	border-right: 0px;
}

.login-option img {
	height: 100px;
	width: 100px;
}

.option-caption {
	display: block;
	position: absolute;
	top: 110px;
	text-align: center;

	width: 100px;
}

.login-option .option-description {
	position: absolute;

	color: #ccc;

	top: 200px;
	left: -50px;

	opacity: 0;
	text-align: center;

	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;

	pointer-events:none;
}

#login-authenticated .option-description {
	width: 400px;
}

#login-intro .option-description {
	width: 300px;
}

.login-option:hover .option-description {
	opacity: 1;
}

.screen-back {
	margin-top: 60px;
	text-align: center;
	font-size: 10pt;
	display: block;
	color: #08f;
}

.login-disclaimer {
	margin-top: 10px;
	text-align: center;
	font-size: 10pt;
	display: block;
	width: 300px;
	color: #777;
}

.screen-back a {
	color: #08f;
}

.screen-back a:hover {
	color: #40a5ff;
}

.screen-back a:active,
.screen-back a:hover:active, {
	color: #73BDFF;
}