doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/ui-dark.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/cosmos-fonts.css')
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js')
    script(src='/js/winjs/base.js')
    script(src='/js/winjs/ui.js')
    script(src='/js/index.js')
  body
    block content
  footer
    include includes/globalFooter.jade