extends layout

block content
  h1= title
  p
    a(href="/auth/msft") Login with your Microsoft account
  p
    a(href="/auth/fb") Login with your Facebook account
  p
    a(href="/auth/google") Login with your Google account