.toggleHide {
  display: none;
}
.toggleHide.shown {
  display: block;
}

#notificationInfo {
  position: absolute;
  width: 100%;
	bottom: 10%;
  color: #ffffff;
  padding: 1px;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: 24px;
  z-index: 200000;
  text-align: center;
}

#notificationError {
  position: absolute;
  width: 100%;
	bottom: 10%;
  color: #ff1111;
  padding: 1px;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: 24px;
  z-index: 200000;
  text-align: center;
}
