<div id="chat">
	<div id="cboxbutton" class="chat-closed" onclick="togglecbox()"></div>
	<div id="cboxdiv"></div>
	<script type="text/javascript">
		var cbvis = false;
		var cbload = false;
		var cbcookie = "cboxvis=";
		function togglecbox () {
			var cbdiv = document.getElementById("cboxdiv");
			var cbbut = document.getElementById("cboxbutton");
			if (!cbvis) {
				if (!cbload) {
					cbdiv.innerHTML = '<iframe frameborder="0" width="200" height="305" src="http://www6.cbox.ws/box/?boxid=811359&boxtag=9369gh&sec=main" marginheight="2" marginwidth="2" scrolling="auto" allowtransparency="yes" name="cboxmain6-811359" style="border:#ababab 1px solid;border-bottom:0px" id="cboxmain6-811359"></iframe><iframe frameborder="0" width="200" height="75" src="http://www6.cbox.ws/box/?boxid=811359&boxtag=9369gh&sec=form" marginheight="2" marginwidth="2" scrolling="no" allowtransparency="yes" name="cboxform6-811359" style="border:#ababab 1px solid;border-top:0px" id="cboxform6-811359"></iframe>';
					cbload = true;
				}
				cbdiv.style.display = "block";
				cbbut.className = "chat-open";
				if(window['ige'] && ige !== undefined && ige.client !== undefined) {
					ige.client.metrics.fireEvent('chat', 'open');
				}
			}
			else {
				cbdiv.style.display = "none";
				cbbut.className = "chat-closed";
				if(window['ige'] && ige !== undefined && ige.client !== undefined) {
					ige.client.metrics.fireEvent('chat', 'close');
				}
			}
			cbvis = !cbvis;
			document.cookie = cbcookie+((cbvis)?1:0);
		}
		// Toggle Cbox open if it was previously
		var cbcookiei = document.cookie.indexOf(cbcookie);
		if (cbcookiei >= 0) {
			if (document.cookie.substring(cbcookiei+cbcookie.length, cbcookiei+cbcookie.length+1) === "1") {
				togglecbox();
			}
		}
	</script>
</div>